@use "../../../../styles/presets/variables" as *;
@use "../../../../styles/presets/skin" as *;
@use "../../../../styles/mixins/extends" as *;
@use "../../../../styles/mixins/mixins-media" as *;

.footer {
  min-height: 100px;
  height: 100%;
  width: 100%;
  background-color: $color-deep-dark;

  &__container {
    @extend %container;
    padding: $gap-x2 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    @include md-min {
      font-size: 1.5rem;
      margin-bottom: $gap;
    }
    @include md-sm {
      font-size: 1.25rem;
      margin-bottom: $gap-xs * 3;
    }
    @include sm {
      font-size: 1rem;
      margin-bottom: $gap-sm;
    }
    user-select: none;
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;

    &:hover {
      color: $color-gray-light;
      @extend %text-shadow-light;
    }
  }

  &__description {
    color: $color-light !important;
  }
}
