@use "../../../../../styles/mixins/extends" as *;
@use "../../../../../styles/mixins/mixins-media" as *;
@use "../../../../../styles/presets/variables" as *;
@use "../../../../../styles/presets/skin" as *;

.vehicles {
  margin: $gap-x2 0;
}

ul {
  list-style: none;
  width: 200px;
  border-bottom: 1px solid $color-light;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.table-responsive {
  overflow-x: auto; // Добавить горизонтальный скролл
  -webkit-overflow-scrolling: touch;

  table {
    min-width: 600px; // Минимальная ширина таблицы
  }
}

.loading {
  margin-top: $gap;
}

:host ::ng-deep .filter::placeholder {
  color: $color-gray !important;
}
