<div *ngIf="tanksService.loading()" class="overlay">
  <p *ngIf="tanksService.loading()">Загрузка данных о танках...</p>
</div>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input #input (keyup)="applyFilter($event)" matInput placeholder="Фильтрация по танкам">
</mat-form-field>

<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort>

    <ng-container matColumnDef="mainInfo">
      <th *matHeaderCellDef class="main-info-cell" mat-header-cell>
        <!-- Блок, в котором три «кнопки» сортировки -->
        <div class="header-buttons">
          <span class="header-button" mat-sort-header="nation">
            <mat-icon>public</mat-icon>
          </span>
          <span class="header-button" mat-sort-header="tier">I-X</span>
          <span class="header-button" mat-sort-header="name">Название</span>
        </div>
      </th>

      <!-- Ячейка колонки -->
      <td *matCellDef="let row" class="main-info-cell" mat-cell>
        <div [ngStyle]="{'background-image': 'url(' + getFlagUrl(row.nation) + ')'}" class="flag-background">
          <!-- Уровень танка -->
          <div class="tier-label">{{ toRoman(row.tier) }}</div>

          <!-- Содержимое внутри флага -->
          <div class="flag-content">
            <!-- Иконка танка -->
            <img
              *ngIf="row.images?.preview; else noImage"
              [alt]="row.name"
              [src]="row.images.preview"
              class="tank-icon-centered"
            />
            <ng-template #noImage>
              <span class="no-image">Нет изображения</span>
            </ng-template>
          </div>

          <!-- Название танка -->
          <div class="tank-name">{{ row.name }}</div>
        </div>
      </td>
    </ng-container>

    <!-- Win_Rate Column -->
    <ng-container matColumnDef="win_rate">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Процент побед</th>
      <td *matCellDef="let row" mat-cell>
        {{ row.all.battles > 0 ? ((row.all.wins / row.all.battles) * 100 | number: '1.2-2') : '0.00' }}%
      </td>
    </ng-container>

    <!-- Battles Column -->
    <ng-container matColumnDef="battles">
      <th *matHeaderCellDef class="battles" mat-header-cell mat-sort-header> Боев</th>
      <td *matCellDef="let row" class="battles" mat-cell> {{ row.all.battles }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th *matHeaderCellDef class="type" mat-header-cell mat-sort-header> Класс</th>
      <td *matCellDef="let row" class="type" mat-cell>
        <img
          [alt]="row.type"
          [src]="tankTypes(row.type)"
          class="tank-class-icon"
        />
      </td>
    </ng-container>


    <!-- Damage Column -->
    <ng-container matColumnDef="damage">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Средний урон</th>
      <td *matCellDef="let row" mat-cell> {{ (row.all.damage_dealt / row.all.battles) | number: '1.0-0' }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    <!-- Row shown when there is no matching data. -->
    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="10" aria-label="Select page of users"></mat-paginator>
</div>

