<div class="container">
  <div class="progress-bar">
    <mat-progress-bar *ngIf="clanService.loading()" color="warn" mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngIf="clanService.clanDetails() as clan">
    <h2>[{{ clan.tag }}] {{ clan.name }} </h2>
    <p>{{ clan.motto }}</p>
    <p class="clan-description">Описание: {{ clan.description }}</p>
    <p>WinRate: {{ clan.winRate | number: '1.2-2' }}%</p>
    <p>Средний урон: {{ clan.avgDamage | number: '1.0-0' }}</p>
    <p *ngIf="clan.created_at">Создан: {{ clan.created_at | date: 'dd.MM.yyyy' }}</p>
    <p>Участники: {{ clan.members_count }}/50</p>
    <p>Глава: {{ clan.leader_name }}</p>
  </div>

  <hr>

  <div *ngIf="clanPlayersListArray?.length" class="players-table">
    <h3>Список игроков клана</h3>

    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table matSort>

        <!-- nickname Column -->
        <ng-container matColumnDef="nickname">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Nickname</th>
          <td *matCellDef="let player" mat-cell> {{ player.nickname }}</td>
        </ng-container>

        <!-- Battles Column -->
        <ng-container matColumnDef="battles">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Боев</th>
          <td *matCellDef="let player" mat-cell> {{ player.statistics.all.battles }}</td>
        </ng-container>

        <!-- WinRate Column -->
        <ng-container matColumnDef="winRate">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> WinRate</th>
          <td *matCellDef="let player" mat-cell>
            {{ (player.statistics.all.wins / player.statistics.all.battles) * 100 | number: '1.2-2' }}%
          </td>
        </ng-container>

        <!-- AvgDamage Column -->
        <ng-container matColumnDef="avgDamage">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Средний урон</th>
          <td *matCellDef="let player" mat-cell>
            {{ player.statistics.all.damage_dealt / player.statistics.all.battles | number: '1.0-0' }}
          </td>
        </ng-container>


        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>

  </div>

  <div>
    <button (click)="goBack()" color="primary" mat-flat-button type="button">Назад</button>
  </div>
</div>
