<div class="container">
  <div class="progress-bar">
    <mat-progress-bar *ngIf="clanService.loading()" color="warn" mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngIf="clanService.clanDetails() as clan">
    <h2>[{{ clan.tag }}] {{ clan.name }} </h2>
    <p>{{ clan.motto }}</p>
    <p class="clan-description">Описание: {{ clan.description }}</p>
    <p>WinRate: {{ clan.winRate | number: '1.2-2' }}%</p>
    <p *ngIf="clan.created_at">Создан: {{ clan.created_at | date: 'dd.MM.yyyy' }}</p>
    <p>Участники: {{ clan.members_count }}/50</p>
    <p>Глава: {{ clan.leader_name }}</p>
  </div>
  <div>
    <button (click)="goBack()" color="primary" mat-flat-button type="button">Назад</button>
  </div>

</div>
