@use "../../../../../styles/mixins/extends" as *;
@use "../../../../../styles/mixins/mixins-media" as *;
@use "../../../../../styles/presets/variables" as *;
@use "../../../../../styles/presets/skin" as *;

.container {
  @extend %container;

  .content-container {
    padding: $gap;
    display: flex;
    gap: $gap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    min-height: 100px;
  }

  .progress-bar {
    min-height: $gap-sm;
  }

  p {
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.2em;
  }

  .clan {
    &-info {
      margin-bottom: $gap;
      font-weight: bold;

      h2 {
        color: $color-gray !important;
      }
    }

    &-description {
      font-weight: 100;
    }

    &-subtitle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        color: $color-accent !important;
      }
    }
  }

  .actions {
    margin: $gap 0;
  }

  .players-table {
    margin-top: $gap;

    h3 {
      margin-bottom: $gap-sm;
    }

    .mat-elevation-z8 {
      // Наш контейнер для скролла (обёртка .table-scroll внутри)
      .table-scroll {
        max-height: 80vh; // или сколько нужно
        overflow: auto; // позволит скроллить и вертикаль, и горизонталь
      }

      // Чтобы таблица занимала всю доступную ширину
      table {
        width: 100%;
      }

      // Фиксируем шапку
      .sticky-header {
        position: sticky;
        top: 0;
        z-index: 1;
        // Нужна однотонная заливка, иначе текст будет перекрываться при скролле
        background-color: $color-dark;
        color: $color-gray-light;
      }
    }
  }
}

.nickname-column {
  @include sm-min {
    max-width: 200px;
  }
  @include sm {
    max-width: 120px !important;
  }
}

.mat-mdc-card {
  background-color: $color-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  color: $color-gray-light;

  @include md-min {
    width: 30%;
  }
  @include md {
    width: 100%;
  }

  &-title {
    color: $color-accent;
    text-transform: uppercase;
    font-family: $font-header !important;
  }

  &-content {
    color: $color-gray;
  }
}

.player-winRate {
  font-weight: bold;
}
