<!--<div *ngIf="vehicles() as vehicles">-->
<!--  <h2>Список техники игрока</h2>-->
<!--  <p>Всего техники {{ vehicles.length }}</p>-->
<!--  <ul *ngFor="let vehicle of vehicles">-->
<!--    <li>ID: {{ vehicle.tank_id }}</li>-->
<!--    <li>Сыграно боев: {{ vehicle.all.battles }}</li>-->
<!--    <li>Побед: {{ vehicle.all.wins }}</li>-->
<!--    <li>Процент побед: {{ getWinRate(vehicle) | number: '1.1-1' }}%</li>-->
<!--  </ul>-->
<!--</div>-->

<div *ngIf="tanksDetails() as tanks">
  <ul *ngFor="let tank of tanks">
    <li>{{ tank.name }}</li>
  </ul>
</div>
