@use "../../../../styles/mixins/extends" as *;
@use "../../../../styles/mixins/mixins-media" as *;
@use "../../../../styles/presets/variables" as *;
@use "../../../../styles/presets/skin" as *;

.container {
  @extend %container;

  .section {
    background-color: rgba($color-deep-dark, 0.5);
    padding: $gap;
    margin-bottom: $gap;

    &__title {
      text-align: center;
    }

    &__container {
      display: grid;
      gap: $gap;
      @include lg-min {
        grid-template-columns: 1fr;
      }
      @include lg-md {
        grid-template-columns: 1fr 250px;
      }
      @include md {
        grid-template-columns: 1fr;
      }
    }

    &__logo {
      display: flex;
      gap: $gap;

      &-image {
        @include lg-min {
          display: block;
        }
        @include lg {
          display: none;
        }
        height: 150px;
        width: 150px;
      }
    }

    &__content {
      &-text {
        p {
          line-height: 1.25em;

        }
      }

      &-contacts {
        display: flex;
        gap: $gap;
        align-items: center;
        @include lg-min {
          justify-content: flex-end;
          flex-direction: row;
        }
        @include lg {
          justify-content: center;
          flex-direction: column;
        }
      }
    }

    &__subtitle {
      margin-top: $gap-x2;
      text-align: right;
      @include lg-min {
        font-size: 1.2rem;
      }
      @include lg-md {
        font-size: 1rem;
      }
      @include md {
        font-size: 0.875rem;
        text-align: center;
      }
    }
  }

  .contact {
    display: flex;
    gap: $gap-sm;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      .contact__text {
        color: $color-light;
        @extend %text-shadow-light;
      }
    }

    &__link {
      position: absolute;
      inset: 0;
      z-index: 1;
      cursor: pointer;
    }

    &__icon {
      height: 24px;
      width: 24px;

      span {
        font-size: 1.75rem;
        color: $color-gray;
      }

      &--telegram {
        fill: #26A5E4;
        user-select: none;
      }

      &--discord {
        fill: #5865F2;
      }

      &--gmail {
        fill: #EA4335;
      }
    }

    &__text {
      color: $color-gray;
      cursor: pointer;
      transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
      text-wrap: nowrap;
      font-size: 1.2rem !important;
    }
  }
}


