<div *ngIf="tanksService.winRateByTier() as statsWinRate" class="progress-container">
  <h3 class="progress-title">Процент побед по уровням</h3>
  <div *ngFor="let tier of [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]" class="progress-row">
    <span class="tier-label">{{ toRoman(tier) }}</span>
    <mat-progress-bar *ngIf="statsWinRate[tier]" [value]="statsWinRatePercent[tier]"
                      class="progress-bar" color="warn" mode="determinate">
    </mat-progress-bar>
    <span class="battles-count">{{ statsWinRate[tier] | number: '1.2-2' }}%</span>
  </div>
</div>
