<div *ngIf="tanksService.winRateByTier() as statsWinRate" class="progress-container">
  <h3 class="progress-title">{{ 'TANKS_STATS.WIN_RATE_BY_TIER' | translate }}</h3>
  <div *ngFor="let tier of [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]" class="progress-row">
    <span class="tier-label">{{ toRoman(tier) }}</span>
    <mat-progress-bar [value]="statsWinRatePercent[tier]" class="progress-bar" color="warn" mode="determinate"></mat-progress-bar>
    <div>
      <span [appOdometer]="statsWinRate[tier]"
            [format]="statsWinRate[tier]  ? '1.0-2' : '1.0-0'"
            [ngClass]="utilsService.getWinRateColor(statsWinRate[tier])"
            class="battles-count"
      ></span>
      <span
        [ngClass]="utilsService.getWinRateColor(statsWinRate[tier])"
        class="battles-count-percent">%</span>
    </div>
  </div>
</div>
