@use 'presets/variables' as *;
@use 'presets/skin' as *;
@use 'mixins/mixins-media' as *;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-main !important;
  font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header !important;
  color: $color-gray !important;
}

h2 {
  @include lg-min {
    font-size: 2.5rem !important;
  }
  @include lg-md {
    font-size: 2.25rem !important;
  }
  @include md {
    font-size: 2rem !important;
  }
}

h3 {
  @include lg-min {
    font-size: 2rem !important;
  }
  @include lg-md {
    font-size: 1.5rem !important;
  }
  @include md {
    font-size: 1.2rem !important;
  }
}

p {
  color: $color-gray !important;
  @include md-min {
    font-size: 1.5rem !important;
  }
  @include md-sm {
    font-size: 1.25rem !important;
  }
  @include sm {
    font-size: 1rem !important;
  }
}
