@use 'presets/variables' as *;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-main !important;
  font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header !important;
}
