@use "presets/skin" as *;

.mat-mdc-table {
  table-layout: auto;
  white-space: normal;
  background-color: transparent !important;
  color: $color-light !important;
}

.mat-mdc-header-row {
  background-color: $color-deep-dark !important;
}

.mat-mdc-header-cell {
  border-bottom: none;
  color: $color-light !important;
}

.mat-mdc-row {
  color: $color-light !important;
}


.statistics-tanks-table {
  .mat-mdc-paginator-icon {
    fill: $color-light !important;
  }

  .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
    fill: $color-gray-dark !important;
  }

  .mat-mdc-select {
    color: $color-light !important;
  }

  .mat-mdc-form-field .mdc-notched-outline {
    border-color: $color-accent !important;
  }

  .mat-mdc-select-arrow {
    color: $color-light !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    color: $color-gray !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    fill: $color-light !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: $color-light !important;
    font-size: 1rem !important;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
    caret-color: $color-accent !important;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: $color-light !important;
  }
}

.cdk-overlay-container {
  .mat-mdc-autocomplete-panel {
    position: relative !important; // Позволяет CDK корректно позиционировать
    display: block;
    z-index: 9999;
    border-top: none !important;
    border-right: 2px solid $color-accent !important;
    border-bottom: 2px solid $color-accent !important;
    border-left: 2px solid $color-accent !important;
    overflow-y: auto;
    width: 100%;
    background: $color-deep-dark; /* Фон выпадающего списка */
    max-height: 300px; /* Ограничение высоты списка */
  }

  .mat-mdc-option {
    transition: background 0.2s;

    &:hover {
      background: rgba($color-gray-dark, 0.5); /* Фон при наведении */
      color: white;
    }
  }
}

.custom-dialog {
  .mdc-dialog__surface {
    background-color: $color-deep-dark !important;
  }

  .mdc-text-field--outlined .mdc-notched-outline__leading,
  .mdc-text-field--outlined .mdc-notched-outline__notch,
  .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-color: $color-gray-darken !important;
  }

  // Внешняя обёртка поля ввода
  .mat-mdc-form-field {
    // Для outline-стиля (если у тебя заполненный вариант - поменяй класс)
    &.mat-mdc-form-field-appearance-outline {
      // Обычно отвечает за саму рамку
      .mat-mdc-form-field-outline {
        border-color: $color-light !important; // Обычный цвет рамки
      }

      // Рамка при фокусе
      &.mat-focused .mat-mdc-form-field-outline {
        border-color: $color-light !important; // Цвет рамки при фокусе
      }
    }

    // Цвет лейбла
    .mat-mdc-floating-label {
      color: $color-gray-dark !important; // Например, светлее или ярче

      // Цвет лейбла при фокусе
      .mat-focused & {
        color: $color-gray-dark !important; // Противоположный или акцентный
      }
    }
  }

  // Сама строка ввода
  .mat-mdc-input-element {
    color: $color-gray !important; // Цвет текста

    &::placeholder {
      color: $color-gray-dark !important; // Плейсхолдер по умолчанию
    }

    // Плейсхолдер при фокусе (опционально, если тебе надо менять)
    &:focus::placeholder {
      color: $color-gray-dark !important;
    }
  }

  .mat-mdc-input-element:-webkit-autofill,
  .mat-mdc-input-element:-webkit-autofill:hover,
  .mat-mdc-input-element:-webkit-autofill:focus,
  .mat-mdc-input-element:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $color-deep-dark inset !important;
    box-shadow: 0 0 0 30px $color-deep-dark inset !important;
    -webkit-text-fill-color: $color-gray !important;
  }
}

// скорость анимации прогресс бара
.mat-mdc-progress-bar .mdc-linear-progress__primary-bar {
  transition: transform 1s ease-in-out;
}


