<div class="container">
  <div class="actions">
    <!--        <button (click)="updateAllData()" color="warn" mat-flat-button type="button">Получить ID всех кланов</button>-->
    <!--    <button (click)="clanService.getBigClansIds()" color="warn" mat-flat-button type="button">getBigClansIds</button>-->
    <!--    <button (click)="clanService.getTopClansIds()" color="warn" mat-flat-button type="button">getTopClansIds</button>-->
    <!--    <button (click)="clanService.getAllClansData()" color="primary" mat-flat-button type="button">getAllClansData</button>-->
  </div>

  <div class="clans">
    <h3>Поиск по всем кланам</h3>
  </div>


  <div class="search">
    <form [formGroup]="form" class="form-search-clan">
      <mat-form-field appearance="outline">
        <mat-label>Поиск по всем кланам</mat-label>
        <input (keydown.enter)="onSubmit()" [formControl]="clanControl" [matAutocomplete]="auto" autocomplete="off" formControlName="name"
               matInput
               placeholder="Введите название клана">
      </mat-form-field>
      <button style="display: none;" type="submit"></button>
    </form>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectClan($event.option.value)">
      <mat-option *ngFor="let clan of suggestedClans" [value]="clan">
        {{ clan.name }} [{{ clan.tag }}]
      </mat-option>
    </mat-autocomplete>
  </div>

  <div class="progress-bar">
    <mat-progress-bar *ngIf="!clanService.topClanDetails()" color="warn" mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="clans-table-container">
    <h3>ТОП-50 кланов</h3>
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Фильтр по кланам</mat-label>
      <input #input (keyup)="applyFilter($event)" matInput placeholder="Введите запрос...">
    </mat-form-field>

    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

      <!-- № Column -->
      <ng-container matColumnDef="index">
        <th *matHeaderCellDef mat-header-cell>
          <mat-icon>emoji_events</mat-icon>
        </th>
        <td *matCellDef="let clan; let i = index" mat-cell>
          {{ getRowIndex(i) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Название</th>
        <td *matCellDef="let clan" mat-cell> {{ clan.name }}</td>
      </ng-container>

      <!-- Tag Column -->
      <ng-container matColumnDef="tag">
        <th *matHeaderCellDef mat-header-cell> Клан тег</th>
        <td *matCellDef="let clan" mat-cell> [{{ clan.tag }}]</td>
      </ng-container>

      <!-- Leader Name Column (скрыто по умолчанию, показываем > 768px) -->
      <ng-container matColumnDef="leader_name">
        <th *matHeaderCellDef mat-header-cell> Глава клана</th>
        <td *matCellDef="let clan" mat-cell> {{ clan.leader_name }}</td>
      </ng-container>

      <!-- Members Column -->
      <ng-container matColumnDef="membersCount">
        <th *matHeaderCellDef mat-header-cell>
          <mat-icon>group</mat-icon>
        </th>
        <td *matCellDef="let clan" mat-cell> {{ clan.members_count }}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="created_at">
        <th *matHeaderCellDef mat-header-cell>
          <mat-icon>event</mat-icon>
        </th>
        <td *matCellDef="let clan" mat-cell> {{ clan.created_at * 1000 | date: 'dd.MM.yyyy' }}</td>
      </ng-container>

      <!-- winRate Column -->
      <ng-container matColumnDef="winRate">
        <th *matHeaderCellDef mat-header-cell>
          <mat-icon>flag</mat-icon>
        </th>
        <td *matCellDef="let clan" mat-cell> {{ clan.winRate | number: '1.0-2' }}%</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr (click)="navigateToClanDetails(row.clan_id)" *matRowDef="let row; columns: displayedColumns;" class="clickable-row" mat-row></tr>

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="7">No data matching the filter "{{ input.value }}"</td>
      </tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" [pageSize]="25" aria-label="Select page of users"></mat-paginator>
  </div>
</div>


