@use "../../../../../styles/mixins/extends" as *;
@use "../../../../../styles/mixins/mixins-media" as *;
@use "../../../../../styles/presets/variables" as *;
@use "../../../../../styles/presets/skin" as *;

.container {
  @extend %container;

  .actions {
    display: flex;
    gap: $gap;
    margin-bottom: $gap;
  }
}

.form-search-clan {
  @include md-min {
    width: 30%;
  }
  @include md-sm {
    width: 50%;
  }
  @include sm {
    width: 90%;
  }
}

.clans {
  p {
    font-weight: 100;
    line-height: 1.2em;
  }
}

.progress-bar {
  min-height: $gap-xs;
  margin-bottom: $gap;
}

.search {
  position: relative !important;
  z-index: 10;
}

.clan-winRate {
  font-weight: bold;
}

.clans-table-container {
  h3 {
    margin-bottom: $gap-sm;
  }

  .filter {
    margin-bottom: $gap;
  }

  .table-scroll {
    max-height: 80vh;
    overflow: auto;

    table {
      width: 100%; // Если хочешь, можешь снять ширину - как нравится.
    }
  }

  // Фиксируем шапку.
  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-light;
  }
}
