@use "../../../../styles/mixins/extends" as *;
@use "../../../../styles/mixins/mixins-media" as *;
@use "../../../../styles/presets/variables" as *;
@use "../../../../styles/presets/skin" as *;


.container {
  @extend %container;

  .welcome {
    &-section {
      text-align: center;
      margin-bottom: $gap-x2;
      color: $color-gray;
    }

    &-title {
      margin-bottom: 30px;
      @include lg-min {
        font-size: 2.5rem !important;
      }
      @include lg-md {
        font-size: 2rem !important;
      }
      @include md-sm {
        font-size: 1.5rem !important;
      }
      @include sm {
        font-size: 1.15rem !important;
      }
    }

    &-content {
      &__title {
        line-height: 1.2em;
        margin-bottom: $gap;
      }

      &__description {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
      }

      &__list {
        margin-bottom: $gap-sm *3;
      }

      &__item {
        @include md-min {
          font-size: 1.5rem !important;
        }
        @include md-sm {
          font-size: 1.25rem !important;
        }
        @include sm {
          font-size: 1rem !important;
        }
        margin-bottom: $gap;
        text-align: left;
        font-weight: 100;
      }

      &__sub {
        font-family: $font-header;
        line-height: 1.2em;
      }
    }
  }

  .stats-section {
    display: grid;
    @include md-min {
      grid-template-columns: repeat(2, 1fr);
      gap: $gap-sm * 3;
    }
    @include md {
      grid-template-columns: 1fr;
      gap: $gap;
    }

    .stat-card {
      height: 100%;
      background-color: $color-dark;
      opacity: 0.75;
      min-height: $gap-sm * 15;
      color: $color-gray;
      position: relative;
      cursor: pointer;
      transition: transform 0.25s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      &__link {
        position: absolute;
        inset: 0;
        z-index: 1;
      }

      mat-card-header {
        display: flex;
        justify-content: space-between;
        align-items: start;

        mat-icon {
          font-size: 2rem;
          color: $color-accent;
        }
      }

      .mat-card-title {
        color: $color-light !important;
      }
    }

    mat-card-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      strong {
        line-height: 1.2em;
        font-weight: 400;
      }
    }
  }
}

.mat-icon {
  overflow: visible;
}

.advantages {
  margin-top: 40px;
  color: $color-gray;

  &-title {
    text-align: center;

    @include lg-min {
      font-size: 1.75rem;
    }

    @include lg-md {
      font-size: 1.5rem;
    }

    @include md {
      font-size: 1.25rem;
    }
    margin-bottom: 20px;
  }

  &-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: $gap-x2 0 0 0;
    padding: 0;
    width: 100%;
    justify-content: center;

    @include lg-min {
      font-size: 1.2rem;
    }
    @include lg-md {
      font-size: 1rem;
    }
    @include md {
      font-size: 0.75rem;
    }
  }
}

