<div class="container">
  <h2>{{ 'PLAYER_PAGE.WELCOME' | translate: {nickname: (authService.nicknameSignal() || 'Гость')} }}</h2>
  <p>{{ 'PLAYER_PAGE.DESCRIPTION' | translate }}</p>

  <form (ngSubmit)="onSubmit()" [formGroup]="searchPlayerForm" class="form-search">
    <mat-form-field appearance="outline" class="form-container">
      <mat-label class="form-label">{{ 'PLAYER_PAGE.SEARCH_LABEL' | translate }}</mat-label>
      <input (keydown.enter)="onSubmit()" [placeholder]="'PLAYER_PAGE.SEARCH_PLACEHOLDER' | translate" class="form-input"
             formControlName="name"
             matInput type="text">
      <button aria-label="Clear" class="form-action" mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <mat-toolbar class="player-toolbar">
    <button mat-button routerLink="stat" routerLinkActive="active">{{ 'PLAYER_PAGE.TABS.STATISTICS' | translate }}</button>
    <button mat-button routerLink="vehicles" routerLinkActive="active">{{ 'PLAYER_PAGE.TABS.VEHICLES' | translate }}</button>
    <!--    <button mat-button routerLink="achievements" routerLinkActive="active">{{ 'PLAYER_PAGE.TABS.ACHIEVEMENTS' | translate }}</button>-->
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
