@use "../../../../styles/mixins/extends" as *;
@use "../../../../styles/mixins/mixins-media" as *;
@use "../../../../styles/presets/variables" as *;
@use "../../../../styles/presets/skin" as *;

.container {
  @extend %container;

  .actions {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
}
