<div class="container">
  <div class="actions">
    <!--    <button (click)="getAllClanIds()" color="primary" mat-flat-button type="button">Получить ID всех кланов</button>-->
    <!--    <button (click)="getTopClanIds()" [disabled]="allClanIds.length === 0" color="primary" mat-flat-button type="button">Получить топ-50-->
    <!--      кланов-->
    <!--    </button>-->
    <!--    <button (click)="getTopClanDetails()" color="warn" mat-flat-button type="button">Получить ID всех кланов</button>-->
  </div>

  <ng-container *ngIf="clanService.loading(); else content">
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
  </ng-container>

  <ng-template #content>
    <div *ngIf="clanService.topClanDetails() as clans">
      <div *ngFor="let clan of clans">
        <p>Клан: [{{ clan.tag }}] - {{ clan.name }}</p>
        <p>Процент побед: {{ clan.recruiting_options.wins_ratio | number: '1.2-2' }}%</p>
        <hr>
        <br>
      </div>
    </div>
  </ng-template>
</div>
