<div class="container">
  <div class="actions">
    <!--    <button (click)="getTopClansIds()" color="warn" mat-flat-button type="button">Получить ID ТОП кланов</button>-->
    <!--    <button (click)="getTopClanDetails()" color="warn" mat-flat-button type="button">Получить ID всех кланов</button>-->
  </div>

  <ng-container *ngIf="clanService.loading(); else content">
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
  </ng-container>

  <ng-template #content>
    <div *ngIf="clanService.topClanDetails() as clans">
      <div *ngFor="let clan of clans">
        <p>Клан: {{ clan.name }} [{{ clan.tag }}]</p>
        <p>WinRate: {{ clan.winRate | number: '1.0-2' }}%</p>
        <p>Игроков в клане: {{ clan.members_count }}</p>
        <hr>
      </div>
    </div>
  </ng-template>
</div>
