@use "../../../../styles/mixins/extends" as *;
@use "../../../../styles/mixins/mixins-media" as *;
@use "../../../../styles/presets/variables" as *;
@use "../../../../styles/presets/skin" as *;

.container {
  @extend %container;
  padding-top: $gap-x2;
  padding-bottom: $gap-x2;
  color: $color-gray;

  h2 {
    @include lg-min {
      font-size: 2.5rem;
    }
    @include lg-md {
      font-size: 2.5rem;
    }
    margin-bottom: $gap-x2;
  }

  p {
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: $gap-sm * 3;
  }
}
