<div class="container">
  <div *ngIf="playerInfo() as player">
    <h2>Общая статистика игрока</h2>
    <p>Никнейм: {{ player.nickname }}</p>
    <p>ID: {{ player.account_id }}</p>
    <p>Клан: {{ clanInfo()?.name }} </p>
    <p>Дата создания аккаунта {{ getDate(player.created_at) }}</p>
    <p>Количество боев: {{ player.statistics.all.battles }}</p>
    <p>Процент побед: {{ getWinRate() }}%</p>
    <p>Максимально уничтожил в бою: {{ player.statistics.all.max_frags }}</p>
    <p>Максимальный опыт за бой: {{ player.statistics.all.max_xp }} </p>
    <p>Точность стрельбы: {{ getAccuracy() }}%</p>
    <p>Выжил в боях: {{ getSurvivalRate() }}%</p>
  </div>

  <div *ngIf="errorMessage() as error" class="error">
    {{ error }}
  </div>


  <!--  <ng-template #loading>-->
  <!--    <p>Загрузка информации об игроке...</p>-->
  <!--  </ng-template>-->
</div>
