@use "../../../../styles/mixins/extends" as *;
@use "../../../../styles/presets/variables" as *;

.custom-toolbar {
  background-color: #1a1a1a; // Чёрный фон
  color: #fff;

  .container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      height: $gap-x3; // Размер логотипа
      margin-right: 10px;
    }

    .site-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      margin: 0;
    }
  }

  .navigation {
    display: flex;
    gap: $gap; // Расстояние между кнопками

    button {
      color: #fff;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      transition: color 0.3s, background-color 0.3s;

      &:hover {
        background-color: #ff4f00; // Акцентный цвет при наведении
        color: #000;
      }
    }
  }

  .hamburger-menu {
    display: none;
  }
}

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .mobile-navigation button {
    margin-bottom: 15px;
    text-align: left;
  }
}

@media (max-width: 1024px) {
  .navigation {
    display: none;
  }

  .hamburger-menu {
    display: inline-flex;
  }
}

