<mat-toolbar class="custom-toolbar">
  <div class="container">
    <div class="logo" routerLink="/home">
      <img alt="WOT Blitz Logo" src="/images/logo1337.png"/>
      <h1 class="site-title">WoT Blitz Statistics</h1>
    </div>
    <nav class="navigation">
      <button class="nav__btn" mat-button routerLink="/home" routerLinkActive="active">
        <span class="material-symbols-outlined nav__btn-icon">home</span>
      </button>
      <mat-menu #statsMenu="matMenu">
        <button [routerLink]="'/players'" mat-menu-item routerLinkActive="active">
          {{ 'NAV.PLAYERS' | translate }}
        </button>
        <button [routerLink]="'/clans'" mat-menu-item routerLinkActive="active">
          {{ 'NAV.CLANS' | translate }}
        </button>
      </mat-menu>
      <button [matMenuTriggerFor]="statsMenu" mat-button>{{ 'NAV.STATISTICS' | translate }}</button>
      <button mat-button routerLink="/session" routerLinkActive="active">{{ 'NAV.SESSION' | translate }}</button>
      <button mat-button routerLink="/contacts" routerLinkActive="active">{{ 'NAV.ABOUT' | translate }}</button>

      <div class="user">
        <ng-container *ngIf="nickname$(); else loginButton">
          <div class="user-info">
            <span class="user-nickname">{{ nickname$() }}</span>
            <button (click)="logout()" class="login-btn" mat-button>
              <mat-icon>logout</mat-icon>
            </button>
          </div>
        </ng-container>
        <ng-template #loginButton>
          <button (click)="openDialog()" mat-button>
            <mat-icon>login</mat-icon>
          </button>
        </ng-template>
      </div>

      <div class="language-select">
        <mat-form-field color="warn">
          <mat-select (selectionChange)="switchLanguage($event.value)" [value]="currentLanguage">
            <mat-option *ngFor="let lang of languages" [value]="lang.code">
              <span class="flag-icon">{{ lang.flag }}</span> {{ lang.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </nav>

    <button (click)="toggleSidenav()" aria-label="Toggle menu" class="hamburger-menu" mat-icon-button>
      <svg *ngIf="!isSidenavOpen" height="24" viewBox="0 96 960 960" width="24">
        <path d="M120 816v-60h720v60H120Zm0-180v-60h720v60H120Zm0-180v-60h720v60H120Z"/>
      </svg>
      <svg *ngIf="isSidenavOpen" height="24" viewBox="0 0 24 24" width="24">
        <path d="M7 10l5 5 5-5H7z"/>
      </svg>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav (closedStart)="onSidenavClose()" class="sidenav" mode="over"
               position="end">
    <nav class="mobile-navigation">
      <button (click)="closeSidenav()" mat-button routerLink="/home">
        <span class="material-symbols-outlined">home</span>
      </button>
      <mat-menu #statsMenu="matMenu">
        <button [routerLink]="'/players'" mat-menu-item routerLinkActive="active">
          {{ 'NAV.PLAYERS' | translate }}
        </button>
        <button [routerLink]="'/clans'" mat-menu-item routerLinkActive="active">
          {{ 'NAV.CLANS' | translate }}
        </button>
      </mat-menu>
      <button (menuClosed)="closeSidenav()" [matMenuTriggerFor]="statsMenu" mat-button>{{ 'NAV.STATISTICS' | translate }}</button>
      <button (click)="closeSidenav()" mat-button routerLink="/session">{{ 'NAV.SESSION' | translate }}</button>
      <button (click)="closeSidenav()" mat-button routerLink="/contacts" routerLinkActive="active">{{ 'NAV.ABOUT' | translate }}</button>

      <div class="user">
        <ng-container *ngIf="nickname$(); else loginButton">
          <div class="user-info user-info--mobile">
            <span class="user-nickname">{{ nickname$() }}</span>
            <button (click)="logout()" mat-button>
              <mat-icon>logout</mat-icon>
            </button>
          </div>
        </ng-container>
        <ng-template #loginButton>
          <button (click)="openDialog()" mat-button>
            <mat-icon>login</mat-icon>
          </button>
        </ng-template>
      </div>

      <div class="language-container language-container--mobile">
        <mat-form-field color="warn">
          <mat-select (selectionChange)="switchLanguage($event.value)" [value]="currentLanguage">
            <mat-option *ngFor="let lang of languages" [value]="lang.code">
              <span class="flag-icon">{{ lang.flag }}</span> {{ lang.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </nav>

  </mat-sidenav>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</mat-sidenav-container>
