<div *ngIf="playerStore.playerDataSignal() as player; else checkAuth">
  <div class="stats-container">
    <div class="stats-main">
      <img alt="WOT Blitz background" class="stats-background" src="/images/wot_blitz_bg.jpg">
      <div class="stats-content">
        <h2 [@fadeScale]>{{ player.nickname }}</h2>
        <div [@fadeScale] class="stats">
          <span class="stats-key">{{ 'PLAYER_STATS.STATS.ID' | translate }}:</span>
          <span> {{ player.account_id }}</span>
        </div>
        <div *ngIf="player.clan" [@fadeScale] class="stats">
          <span class="stats-key">{{ 'PLAYER_STATS.STATS.CLAN' | translate }}:</span>
          <span> {{ player.clan.name }} [{{ player.clan.tag }}]</span>
        </div>
        <div [@fadeScale] class="stats">
          <span class="stats-key">{{ 'PLAYER_STATS.STATS.CREATED_AT' | translate }}:</span>
          <span> {{ player.created_at * 1000 | date: 'dd.MM.yyyy' }}</span>
        </div>
        <div [@fadeScale] class="stats">
          <span class="stats-key">{{ 'PLAYER_STATS.STATS.LAST_BATTLE' | translate }}:</span>
          <span *ngIf="player.last_battle_time"> {{ player.last_battle_time * 1000 | date: 'dd.MM.yyyy' }}</span>
        </div>
        <div [@fadeScale] class="stats">
          <span class="stats-key">{{ 'PLAYER_STATS.STATS.BATTLES' | translate }}:&nbsp;</span>
          <span [appOdometer]="player.statistics.all.battles"> {{ player.statistics.all.battles }}</span>
        </div>
        <div [@fadeScale] class="stats">
          <span class="stats-key">{{ 'PLAYER_STATS.STATS.WIN_RATE' | translate }}:&nbsp;</span>
          <span [appOdometer]="(player.statistics.all.wins / player.statistics.all.battles) * 100"
                [format]="'1.2-2'"
                [ngClass]="utilsService.getWinRateColor((player.statistics.all.wins / player.statistics.all.battles) * 100)"
                class="stats-value stats-value--winrate">
          {{ (player.statistics.all.wins / player.statistics.all.battles) * 100 }}
          </span>
          <span [ngClass]="utilsService.getWinRateColor((player.statistics.all.wins / player.statistics.all.battles) * 100)">%</span>
        </div>
        <div [@fadeScale] class="stats">
          <span class="stats-key">WN8:&nbsp;</span>
          <span *ngIf="player.statistics.all.wn8" [appOdometer]="player.statistics.all.wn8"
                [ngClass]="utilsService.getWn8Class(player.statistics.all.wn8)">
            {{ player.statistics.all.wn8 | number: '1.0-0' }}</span>
        </div>
        <div [@fadeScale] class="stats">
          <span class="stats-key">{{ 'PLAYER_STATS.STATS.AVG_DAMAGE' | translate }}:&nbsp;</span>
          <span [appOdometer]="(player.statistics.all.damage_dealt / player.statistics.all.battles)">
            {{ player.statistics.all.damage_dealt / player.statistics.all.battles }}
          </span>
        </div>
        <div [@fadeScale] class="stats">
          <span class="stats-key">{{ 'PLAYER_STATS.STATS.MAX_XP' | translate }}:&nbsp;</span>
          <span *ngIf="player.statistics.all.max_xp"
                [appOdometer]="player.statistics.all.max_xp"> {{ player.statistics.all.max_xp }}</span>
        </div>
        <div [@fadeScale] class="stats">
          <span class="stats-key">{{ 'PLAYER_STATS.STATS.ACCURACY' | translate }}:&nbsp;</span>
          <span [appOdometer]="(player.statistics.all.hits / player.statistics.all.shots) * 100" [format]="'1.2-2'">
            {{ (player.statistics.all.hits / player.statistics.all.shots) * 100 }}
          </span>%
        </div>
      </div>
    </div>
    <div class="stats-secondary">
      <mat-toolbar class="mat-toolbar">
        <button mat-button routerLink="stats-tier" routerLinkActive="active">{{ 'PLAYER_STATS.TABS.TIER' | translate }}</button>
        <button mat-button routerLink="stats-winRate" routerLinkActive="active">{{ 'PLAYER_STATS.TABS.WIN_RATE' | translate }}</button>
        <button mat-button routerLink="stats-damage" routerLinkActive="active">{{ 'PLAYER_STATS.TABS.DAMAGE' | translate }}</button>
        <button mat-button routerLink="stats-type" routerLinkActive="active">{{ 'PLAYER_STATS.TABS.TYPE' | translate }}</button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #checkAuth>
  <div *ngIf="authService.nicknameSignal() === null">
    <p class="error">{{ 'PLAYER_STATS.NO_AUTH' | translate }}</p>
  </div>
  <div *ngIf="playerStore.loadingSignal()">
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>
