@use "../../../../styles/mixins/extends" as *;
@use "../../../../styles/mixins/mixins-media" as *;
@use "../../../../styles/presets/variables" as *;
@use "../../../../styles/presets/skin" as *;

mat-form-field {
  margin-top: 5px;
  width: 100%;
}

.auth-dialog {
  padding: 20px 0;

  &__title {
    color: $color-gray-dark !important;
  }
}

.action-buttons {
  gap: $gap;

  @include sm-min {
    flex-direction: row;
    padding: 16px 0;
  }

  @include sm {
    flex-direction: column;
    padding: 8px 0;
  }
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    flex: 0 1 auto;
  }
}


