<div class="auth-dialog">
  <h2 class="auth-dialog__title" mat-dialog-title>{{ isLoginMode ? ('AUTH.LOGIN' | translate) : ('AUTH.REGISTER' | translate) }}</h2>
  <mat-dialog-content class="mat-typography">
    <form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="login-form">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'AUTH.EMAIL' | translate }}</mat-label>
        <input [placeholder]="'AUTH.EMAIL_PLACEHOLDER' | translate" formControlName="email" matInput type="email"/>
        <mat-error *ngIf="authForm.get('email')?.hasError('required')">{{ 'AUTH.EMAIL_REQUIRED' | translate }}</mat-error>
        <mat-error *ngIf="authForm.get('email')?.hasError('email')">{{ 'AUTH.EMAIL_INVALID' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'AUTH.PASSWORD' | translate }}</mat-label>
        <input [placeholder]="'AUTH.PASSWORD_PLACEHOLDER' | translate" formControlName="password"
               matInput
               matTooltip="{{ 'AUTH.TOOLTIP_PASSWORD' | translate }}"
               matTooltipClass="custom-tooltip"
               type="password"/>
        <mat-error *ngIf="authForm.get('password')?.hasError('required')">{{ 'AUTH.PASSWORD_REQUIRED' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!isLoginMode" appearance="outline">
        <mat-label>{{ 'AUTH.CONFIRM_PASSWORD' | translate }}</mat-label>
        <input [placeholder]="'AUTH.CONFIRM_PASSWORD_PLACEHOLDER' | translate" formControlName="confirmPassword" matInput type="password"/>
        <mat-error *ngIf="authForm.get('confirmPassword')?.hasError('passwordsMismatch')">
          {{ 'AUTH.PASSWORDS_MISMATCH' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!isLoginMode" appearance="outline">
        <mat-label>{{ 'AUTH.NICKNAME' | translate }}</mat-label>
        <input [placeholder]="'AUTH.NICKNAME_PLACEHOLDER' | translate" formControlName="nickname" matInput
               matTooltip="{{ 'AUTH.TOOLTIP_NICKNAME' | translate }}"
               matTooltipClass="custom-tooltip"
               type="text"/>
        <mat-error *ngIf="authForm.get('nickname')?.hasError('required')">
          {{ 'AUTH.NICKNAME_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-dialog-actions class="action-buttons">
        <button (click)="toggleMode($event)" class="btn" mat-raised-button type="button">
          {{ isLoginMode ? ('AUTH.CREATE_ACCOUNT' | translate) : ('AUTH.ALREADY_HAVE_ACCOUNT' | translate) }}
        </button>

        <button [@buttonState]="buttonState" class="btn" mat-raised-button type="submit">
          {{ isLoginMode ? ('AUTH.LOGIN_ACTION' | translate) : ('AUTH.REGISTER_ACTION' | translate) }}
        </button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
